Q.1. What exactly is []?

Ans. [], shows a list without elements(empty list).

Q.2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.).

In [1]:
spam= [2,4,6,8,10]
spam.insert(2,"hello")
print(spam)

[2, 4, 'hello', 6, 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

Q.3. What is the value of spam[int(int('3' * 2) / 11)]?

In [14]:
spam = ['a','b','c','d']
print(spam[int(int('3'*2)/11)])

# 3 is written as string so will be written as 33 then casted as int before division by 11. ans will be in float 3.0
#this gives as 3 and then casted again  as int.,it is inside a [], so, it will become spam[3], which is expression for index.

d

Q.4. What is the value of spam[-1]?

In [9]:
#Ans.
spam[-1]
#-1 means it is asking about the index starting from the last.

'd'

Q.5. What is the value of spam[:2]?

In [12]:
#Ans.
spam[:2]
#which means index of spam 0 to 2, excluding index 2 or spam[0:2]

['a', 'b']

In [16]:
#Q.6. What is the value of bacon.index('cat')?
bacon=[3.14, 'cat',11, 'cat', True]
bacon.index('cat')

1

Ans. bacon.index('cat') will give 1. so, index of 'cat' is 1

Q.7.How does bacon.append(99) change the look of the list value in bacon?

Ans. it will add 99 in the end to the bacon list.

In [17]:
bacon.append(99)

In [18]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Q.8. How does bacon.remove('cat') change the look of the list in bacon?

Ans. It will remove 'cat' which comes first in the list from the bacon list.

In [21]:
bacon = [3.14, 'cat', 11, 'cat', True] 
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True]

Q.9.What are the list concatenation and list replication operators?

In [23]:
#Ans. '+' is the list concatenation operator and '*' is the list replication operator
l2= [1,2,3,4]
l3=[5,6,78,3,9]
print(l2+l3)

[1, 2, 3, 4, 5, 6, 78, 3, 9]

In [28]:
#let's say we need to replicate the l2 two times the:
print(l2*2)

[1, 2, 3, 4, 1, 2, 3, 4]

Q.10. What is difference between the list methods append() and insert()?

Ans. append() will add the item in the end of the list whereas insert() will insert the item at required index position

In [29]:
l2

[1, 2, 3, 4]

In [30]:
l2.append(5)

In [31]:
l2

[1, 2, 3, 4, 5]

In [32]:
l3

[5, 6, 78, 3, 9]

In [33]:
l3.insert(2,'bhuvi')

In [34]:
l3

[5, 6, 'bhuvi', 78, 3, 9]

Q.11. What are the two methods for removing items from a list?

Ans. items can be removed from a list by using remove() and del. remove() removes from list by item wheras del removes by index of the item.

In [35]:
l2

[1, 2, 3, 4, 5]

In [36]:
l2.remove(2)

In [37]:
l2

[1, 3, 4, 5]

In [39]:
del l2[3]

In [40]:
l2

[1, 3, 4]

Q.12. Describe how list values and string values are identical.

Ans. Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

Q.13. What's the difference between tuples and lists?

Ans. the basic difference is tuples are immutable whereas lists are mutable. lists are placed in [], tuple are placed in()

Immutability: where values can not be changed.

In [43]:
t1=(4,2,5,7)
print(t1+6)

TypeError: can only concatenate tuple (not "int") to tuple

Q.14. How do you type a tuple value that only contains the integer 42?

Ans. When there is only single itenger, a ',' is required in the end otherwise it will remain integer.

In [47]:
t=(42)
print(t)

42

In [46]:
t=(42)
print(type(t))

<class 'int'>

In [49]:
t3=(42,)
print(t3)

(42,)

In [50]:
print(type(t3))

<class 'tuple'>

In [ ]:
Q.15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [52]:
l2

[1, 3, 4]

In [68]:
list = [3,6,9,10,55]

#convert list into tuple
t1 = tuple(list)

print(t1)

(3, 6, 9, 10, 55)

In [64]:
t1

(3, 6, 9, 10, 55)

In [67]:
# convert tuple into list
l1=list(t1)
print(l1)

[3, 6, 9, 10, 55]

Q.16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans. they contain references to the list values. ex: t=([1,2,3,4], 56, 'bhuvi)

Q.17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans. .copy() create reference to original object. If you change copied object - you change the original object. 

.deepcopy() creates new object and does real copying of original object to new one. 

Changing new deepcopied object doesn't affect original object.